.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive;

}

.inicio
{
  background-color: rgb(31, 29, 29);
}

#contact
{
  background: black;
}

.carousel
{
  width: 100%;
  height: 530px;
}

a:link, a:visited, a:active{
  text-decoration: none;
  font-weight: bold;
}
